<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <%=link_to "BILLING NOTEBOOK", root_path, class: "navbar-brand"%>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <% if logged_in? %>
          <li class="nav-item">
            <p class="nav-link mb-0"><%=current_user.name%></p>
          </li>
          <li class="nav-item">
            <%= link_to t('defaults.settings'), settings_statistics_path, class: "nav-link mb-0" %>
          </li>
          <li class="nav-item">
            <%= link_to t('defaults.logout'), logout_path, data: { turbo_method: :delete }, class: "nav-link mb-0" %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to t('defaults.login'), login_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to t('defaults.signup'), signup_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
