<!DOCTYPE html>
<html>
  <head>
    <title>PFservice</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render "/shared/header" %>
    <%= render "/shared/flash_messages" %>
    <div class="container mt-4">
      <div class="row">
        <nav class="col-md-3">
          <%= render "/shared/settings_tab"%>
        </nav>
        <nav class="col-md-9" id="settings-tab-element">
          <%= yield %>
        </nav>
      </div>
    </div>
  </body>
</html>
